*{
    box-sizing: border-box;

    margin: auto;
    font-weight: 400;
}
body{
  font-family: 'Raleway', sans-serif;
}
.container{

    margin:auto;
    width: 1170px;


}
ul{
  list-style: none;
}
li{
  display: inline-block;
}
nav span{
      cursor: pointer;
      color: #666666;
      font-size: 25px;
      text-transform: capitalize;
      line-height: 30px;
      display: inline-block;
      margin: 16px 16px;
}
nav ul{
  float: right;
  margin-right: 38px;
}
nav  li{
    text-transform: uppercase;
    margin-right: 30px;
    line-height: 61px;

}
a{
  font-size: 13px;
  text-decoration: none;
}
nav li a{
  letter-spacing: -1px;
  color: #4c4c4c;
  max-width: 100%;
  text-transform: uppercase;
}
nav ul li i{
  padding: 0 10px 0;
  font-size: 10px;
  text-align: center;
  color: #3a52bf;

}
header{
  background-image: url("https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1443527216320-7e744084f5a7-1.jpg");
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: 100% 100%;
  color: #fff;
      height: 657px;
}
header h1{

  max-width: 800px;
  font-size: 60px;
  line-height: 73px;
  margin-bottom: 24px;
  letter-spacing: 4px;
}
header p{
  margin-bottom: 24px
}
button{
  border: none;
  font-weight: 400;
  color: #fff;
  min-width: 160;
  margin-bottom: 24px;
  text-transform: uppercase;
  line-height: 24px;
  min-width: 200px;
  padding-bottom: 13px;
  padding-top: 13px;
}
header button:first-of-type,
.btn
{
      background: #745cf9;
      border: 2px solid #745cf9;
}
header button:last-of-type{

      background-color: transparent;
      border: 2px solid #fff;
}
.SEOFriendly, .Portfolio {
  display: inline-flex;
  padding: 96px 0 ;
}
.seo img   {

  float: right;

}
.seo img  {
    display: block;
      width: 60%;
}
.PortfolioImg img {
  width: 90%;

}
.SEOFriendly h3 , .Portfolio h3 {
  font-weight: 400;
  margin-bottom: 24px;
  color: #0e1015;
}
.SEOFriendly p , .Portfolio p{
  color: #97a1a7;
  line-height: 26px;
  font-size: 12px;
  margin-bottom: 24px;

}
.Portfolio p{
  font-size: 11px;
}

.SEOFriendly div:last-of-type{
    margin-left: 100px;
    width: 30%;
}
 .Portfolio .PortfolioSection{
  width: 40%;


}
.SEOFriendly .btn ,.Portfolio .btn {
    min-width: 169px;
    font-size: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
}
.Portfolio  {
  background-color: #f5f5f5
}
/* start Small Parallax Section    */
.Parallax{

  background-image: url("https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1452723312111-3a7d0db0e024.jpg");
  background-size: 100% 100%;
  color: #fff;
  display: flex;
  width: 100%;

  justify-content: center;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}
}
.Parallax div{

}
.Parallax h3{
  font-size: 60px;
    font-weight: 400;
    margin-bottom: 24px;
}

.Parallax p , .Customers p  {
  font-size: 11px;
  margin-bottom: 24px;
  max-width: 841px;
  line-height: 23px;
}



/* end Small Parallax Section    */
/* start Limitless Options    */
.Limitless{
  padding-top: 96px;
}
.Limitless, .LimitlessImg{
  background-color: #f5f5f5;

  display: flex;
  justify-content: center;
  text-align: center;


}
.Limitless h3{
  font-size: 30px;
  line-height: 33px;
}
.Limitless p{
  font-size: 11px;
  color: #8c979e;
  max-width: 762px;
  padding: 21px 0;
  line-height: 25px;
}
.Limitless button{
  min-width: 177px;
  padding-bottom: 7px;
  padding-top: 7px;
  font-size: 11px;
}
}



.LimitlessImg img{
  width: 69%;
}

/* end Limitless Options    */
/* start Our Latest Projects */
.LatestProjects {
  background-color: #0e1015;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 30px;
}
.LatestProjects h3{
    padding-bottom: 24px;
}
.LatestProjects p{
  font-size: 10px;
}


/* end Our Latest Projects */
/* start  Projects */
.Projects{

  position:relative;
  background-color: #0e1015;
  height: 729.34px;
}
.images
{

  position: absolute;
  width: 348px;
  height: 300px;

}

.images:nth-of-type(2){
      left: 348px;


}
.images:nth-of-type(3){
          left: 695px;

}
.images:nth-of-type(4){
          left: 1001px;

}
.images:nth-of-type(5){
  left: 0px;
    top: 242px;
}

.images:nth-of-type(6){
  left: 348px;
    top: 242px;
}
.images:nth-of-type(7){
  left: 696px;
top: 247px;
}
.images:nth-of-type(8){
  left: 1000px;
    top: 242px;
}
.images:nth-of-type(9){
  left: 347px;
top: 484px;
}
.images:last-of-type{
  left: 0px;
    top: 484px;
}

.Projects img{
  display: flex;
  width: 100%
}
/* end Projects */
/* start What Our Customers Say */
.Customers{
  background-image: url("https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1451417379553-15d8e8f49cde.jpg");
  background-size: 100% 100%;
  color: #fff;
  display: flex;
  width: 100%;

  justify-content: center;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;

}
.Customers h3{
  font-size: 30px;
    font-weight: 400;
    margin-bottom: 24px;
}
.Customers img{
  border-radius: 50%;
height: 100px;
width: 100px;
margin-bottom: 16px;
}



/* end What Our Customers Say */
/* start Our Main Clients */
.Clients{
  background-color: #fff;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;


}
.Clients h3{
  margin-bottom: 60px;
font-size: 28px;
}
.Clients li{
  padding-right: 90px;
  padding-left: 90px;
}

.Clients img{
  width: 50px;
  opacity: .5;
}

/* end  Our Main Clients */
.WordPress-theme{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 57px;
  padding-bottom: 25px;
  background-color: #f5f5f5;
}
.WordPress-theme h3{
  display: inline-flex;
  padding-right: 157px;
  font-size: 23px;
  margin-left: 129px;
}
.WordPress-theme button{
  padding-bottom: 0px;
padding-top: 0px;
    line-height: 32px;
    font-size: 11px;
}

/* start Our Main Clients */
footer{
  display: flex;
  padding: 72px 0;
  background-color: #0e1015;
  font-size: 11px;
  color: #fff
}
footer span{
  display: inline-block;
  margin-left: 118px;

}
footer ul{
  float: right;

}
footer li a {

  color: #fff
}
footer li a i{
  letter-spacing: 19px;

}

/* end Our Main Clients */
